<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>
<div class="ratings__selector">
    <a href="/top" class="ratings__button--alley">Аллея славы</a>
    <div class="ratings__buttons-row">
      <a href="/top/#!/gearscore/" class="ratings__button ratings__button--gearscore" ng-class="{active:active == 'gearscore'}">Топ персонажей (предметы)</a>
      <a href="/top/#!/guilds/" class="ratings__button ratings__button--guilds" ng-class="{active:active == 'guilds'}">Топ гильдий</a>
      <a href="/top/#!/ships/" class="ratings__button ratings__button--ships" ng-class="{active:active == 'ships'}">Топ кораблей</a>


    </div>
	<div class="ratings__buttons-row">
	     <a href="/top/#!/arena/" class="ratings__button ratings__button--arena" ng-class="{active:active == 'arena'}">Топ персонажей (мавзолей искрв)</a>
		  <a href="/top/#!/kills/" class="ratings__button ratings__button--blood" ng-class="{active:active == 'blood'}">Убийца</a>
	</div>
</div>